body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
  }

  #logo {
    width: 150px;
    height: 150px;
  }
  .profileContainer{
    display: flex;
    gap: 20px;
  }
  .profilePic img{
    width: 150px;
    height: 150px;
    display: inline-block;
    transition: filter 0.3s eases
  }
  .profilePic img:hover {
    filter: brightness(130%);
  }

  .profileName {
  text-align: center;  
  }


  .sidebar {
    width: 200px;
    background-image: linear-gradient(to right, maroon , rgb(150, 77, 9));
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  .sidebar h3 {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  .sidebar h3:hover, .sidebar h3.active {
    background-color: #34495e;
  }
  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, rgb(150, 77, 9), rgba(179, 90, 7, 0.829) );
    color: white;
  }
  .content-section {
    display: none;
  }
  .content-section.active {
    display: block;
  }

  .textBox {
    border: 3px solid black;
    display: inline-block;
    padding: 10px;
    margin-right: 10 px;
    margin-left: 10 px;
  }