body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(150, 77, 9), rgba(179, 90, 7, 0.829) );

  }

  .page {
    display: flex;
    display: flex;
    min-height: 100vh;
  }

  #logo {
    width: 150px;
    height: 150px;
  }
  .profileContainer{
    display: flex;
    gap: 20px;
  }
  .profilePic img{
    width: 150px;
    height: 150px;
    display: inline-block;
    transition: filter 0.3s eases
  }
  .profilePic img:hover {
    filter: brightness(130%);
  }

  .profileName {
  text-align: center;  
  }


  .sidebar {
    width: 200px;
    background-image: linear-gradient(to right, maroon , rgb(150, 77, 9));
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  .sidebar h3 {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar h3:hover, .sidebar h3.active {
    background-color: #34495e;
  }
  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;

    color: white;
    min-height: 100vh;
  }

  .textBox {
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 15px;
    align-self: flex-start;
  }


  .castImages img {
    width: 100%;
    height: auto;
    display: block;
  }

  #cast141_1 {
    width: 60%;
    height: auto;
  }

  #cast112_1 {
    width: 60%;
    height: auto;
  }

  .comparisons {
    display: inline-block;
    align-content: center;
    align-self: flex-start;
    margin: 10px;
  }

  .comparisons img {
    margin-right: 30px;
    margin-left: 30px;
  }

  .center {
    display: flex;
    justify-content: center;
  }
